/* 设置页面的字体和背景 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
textarea {
    width: 50%;
    height: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }